body {background-color: rgb(5, 192, 248);
font-size: 37px;font-family: 'Raleway', sans-serif;}
.title{text-align: center;color:white;}
.Description{text-align: center;color:white;
    font-size: 27px;}
.backround1 { 
    border-radius: 15px; width: 50vw; padding: 15px; margin:30px auto; background-color: blanchedalmond;position:  top 100px;
}
div{ background-color: dodgerblue;
text-align: center;
font-family: "Raleway"sans-serif;
border-radius: 15px; width: 50vw; padding: 15px; margin:30px auto; background-color: blanchedalmond;position:  top 100px;
color: white
}
.image2{ size: 10px;
}